<div id="<%= dom_id reader %>">
  <p>
    <strong class="label">Name:</strong>
    <%= reader.name %>
  </p>

  <p>
    <strong class="label">Location:</strong>
    <%= reader.location %>
  </p>

</div>
