<div class="mx-auto">

    <h1 class="font-bold">Editing reader</h1>

    <%= render "form", reader: @reader %>

    <br>

    <div>
        <%= link_to "Show this reader", @reader, :class=>'link' %> |
        <%= link_to "Back to readers", readers_path, :class=>'link' %>
    </div>

</div>
