<div class="mx-auto">
<h1 class="font-bold">Editing API Key</h1>

<%= render 'form', api_key: @api_key %>

<%= link_to 'Show', @api_key, :class=>'link' %> |
<%= link_to 'Back', api_keys_path, :class=>'link' %>
</div>
