<div class="mx-auto">

<h1 class="font-bold">New API Key</h1>

<div class="text-center">
    <div class="m-2 alert alert-info">
        Token will only be shown once
    </div>
</div>

<div class="row justify-content-md-center">
    <%= render "form", api_key: @api_key %>
</div>

<%= link_to 'Back', api_keys_path, :class=>'link' %>

</div>
