<h1>New API Key</h1>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        Token will only be shown once
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto">
       <%= render "form", api_key: @api_key %>
    </div>
</div>

<%= link_to 'Back', api_keys_path %>
