<div class="mx-auto">

<% if flash[:notice] %>
<div role="alert" class="alert">
    <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="row">
    <strong class="label">Name:</strong>
    <%= @authorization.name %>
</div>

<div class="row">
    <%= link_to 'Edit', edit_authorization_path(@authorization), :class=>'link' %> |
    <%= link_to 'Back', authorizations_path, :class=>'link' %>
</div>

</div>
