<div class="mx-auto">
<h1 class="font-bold">Editing Tagscan</h1>

<%= render 'form', tagscan: @tagscan %>

<%= link_to 'Show', @tagscan, :class=>'link' %> |
<%= link_to 'Back', tagscans_path, :class=>'link' %>
</div>
